.article-item{
    border: 1px solid #CFCFCF;
    margin-bottom: 20px;
    background-color: #FFF;
}
.article-item{
    padding: 0 10px 10px;
}
.article-title a{
    font-size: 20px;
    font-weight: bold;
    color: #4F5050;
    text-decoration: none;
}

.article-title a:hover{
    color: #959595;
    font-size: 22px;
}

.sub-description{
    line-height: 20px;
    margin: 0 0 10px 14px;
}
.datetime,
.tag{
    font-family: 'Droid Serif', Georgia, 'Times New Roman', Times, 'STHeiti, SimSun', serif;
    font-size: 14px;
}
.tag{
    border-bottom: 1px dotted #ccc;
    margin-right: 8px;
}
.tag a:hover{
    font-size: 16px;
}
.read-more{
    margin: 10px 0;
    padding-right: 20px;
    line-height: 20px;
}
.read-more a{
    line-height: 18px;
}
.read-more a:hover{
    font-size: 16px;
    font-style: italic;
}