.article-body{
    padding: 10px;
    background-color: #FFF;
    -webkit-box-shadow: 0 5px 10px #bbb;
    box-shadow: 0 5px 10px #bbb;
}
.article-content h2{
    font-size: 24px;
    font-weight: bold;
}
.article-content h3{
    font-size: 20px;
    font-weight: bold;
}
.article-content h4{
    font-size: 16px;
    font-weight: bold;
}
.article-content{
    line-height: 28px;
}
.article-content p,
.article-content .line-block{
    margin-bottom: 10px;
}
tt.literal {
    font-family: 'Courier New',"courier";
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
.docutils td, .docutils th {
    display: table-cell;
    padding: 0 10px;
    white-space: nowrap;
    font-family: "Courier New", courier, monospace;
}
.docutils th{
    text-align: center;
    background-color: #D9EDF7;
}
.docutils p{
    margin: 0;
    line-height: 20px;
}
.docutils p.first{
    margin-top: 4px;
}
.docutils p.last{
    margin-bottom: 6px;
}